@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
#root {
    font-family: 'Rubik', sans-serif;
    display: flex;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;  
}
    
label.form-label {
    font-size: 25px;
    color: black;
    
}
input {
    padding: 14px;
    border-radius: 40px;
    width: 300px;
    box-sizing: border-box;
    margin-top: 1rem;
    border: 2px solid #888;
    text-align: center;

}

input:focus{
    padding: 14px;
    border-radius: 99999px;
    width: 300px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #7e22ce;
    box-shadow: #7e22ce;
    cursor: pointer;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.login-button {
    display: flex;
    justify-content: center;
    margin: 40px;
    padding: 10px;
    min-width: 200px;
    border-radius: 40px;
    border: 4px solid #e8ecf2;
    background-color: #ebebeb;
    color: black;

    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
    color: white;
    background-color:purple;
    border: none;
    text-decoration: none;
    border-radius: 40px;
    text-decoration: none;
    transition: background-color 0.s ease, color 0.3s ease;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-h2 {
    font-size: 30px;
    padding-top: 40px;
}

.dashboard-title {
    position: absolute;
    top: -1%;
    left: 3%;
    font-size:2rem;
    color: #000000;
    cursor: pointer;
}

.logout-button{
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-nav-item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
}

.user-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
}

.user-card-image {
    height: 200px;
    width: 200px;
}

.user-card-p {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    padding: 0;
    margin: 0;
}

.user-card-wishlist {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 0;
}

.user-card-purchases {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    padding: 0;
}

.user-card-h3 {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 27px;
}

.event-li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.event-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.event-info h3 {
    padding: 10px;
    margin: 0;
}