@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
.dashboard{
    display: flex;
}

.dashboard header{
  text-align: center;
  margin-bottom: 2rem;
  color: #6e201b; /* Min side knapp så jeg har styr på det*/
}

.dashboard title{
    color: #6e201b; /*  Skulle sjekke farge for å holde styrt*/
  
}

.dashboard-nav-list{
  
}
.dashboard-nav-item{

}
.dashboard-nav-link{
    
}
.dashboard nav-link:hover{
    text-decoration: underline;
}
.logout-section{

}
.logout-button{
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* LoginForm.jsx*/
.login-section{

}

.login-form{

}
.login-button{
   
}
.form-label{

}
.form-input{

}

.login-button{

}


.login-button:hover {

}

