
.festival-image {
    width: 350px;
    height: 200px;
    object-fit: cover;
  }

  .event-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    color: black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
                5px 5px 10px rgba(0, 0, 0, 0.25);
    margin: 20px;
    max-width: 350px;
  }

  .event-link {
    display: flex;
    justify-content: center;
    margin: 40px;
    padding: 15px;
    min-width: 200px;
    border-radius: 9999px;
    border: 2px solid #e8ecf2;
    background-color: rgb(235, 235, 235);
    color: black;

    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
                5px 5px 10px rgba(0, 0, 0, 0.25);

    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.event-link:hover {
    color: purple;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
                1px 1px 5px rgba(0, 0, 0, 0.3),
                inset -2px -2px 5px rgba(255, 255, 255, 1),
                inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

  .event-card-h2 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }