
.festival-image {
    width: 350px;
    height: 200px;
    object-fit: cover;
  }

  .event-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    color: black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 350px;
  }

  .event-link {
    text-decoration: none;
    border: purple solid 17px;
    border-radius: 30px;
    background-color: purple;
    color: white;
  }

  .event-card-h2 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }