@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

#root {
    margin: 0;
    max-width: fit-content;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.section-home {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 70px;
    flex-wrap: wrap;

}

article {
    font-family: 'Rubik', sans-serif;
}

.city-title {
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 50px;
}

.city-button {
    display: flex;
    justify-content: center;
    max-height: 50px;
    min-width: 100px;
    text-decoration: none;
    border: purple solid 17px;
    border-radius: 30px;
    background-color: purple;
    color: white;
    font-family: 'Rubik', sans-serif;
}
