@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
#root {
    max-width: 1080px;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#logo {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 700px;

}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
 nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;

 }

 nav {
    display: flex;
 }

 #logg {
    text-decoration: none;
    color: black;
    text-align: right;
    margin: 3rem;
 }

 footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    margin-top: auto;
    font-size: large;
 }

 /*Mobil versjonen - https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
 /*Dette vil kun gjelde skjermer som har max 600px*/
 @media only screen and (max-width: 700px) {
    nav ul {
        flex-direction: column;
        text-align: left;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
      }
  }